{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <div class="container-fluid col-2 text-center mt-4">
        {{ form_start(form) }}
        <div class="form-group mt-3">
            {{ form_row(form.firstname, {'attr': {'class': 'form-control text-center'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(form.lastname, {'attr': {'class': 'form-control text-center'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(form.birthday, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(form.save, {'attr': {'class': 'form-control btn btn-danger'}}) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}



